<!--navbar-->
<nav class="navbar navbar-expand-md sticky-top pt-0 pb-1">
  <div class="container-xxl">
  
    <a class="navbar-brand" href="#intro">
      <span class="text-secondary fw-bold">
        <img
      src="../assets/img/logo.png"
      alt="Ballernet logo"
      class="me-2"
      style="max-width: 70px"
        />
        <span style="color: #51de2b;">BALLER~NET</span>
      </span>
    </a>
     <!-- toggle button for mobile nav -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- navbar buttons-->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
      <ul class="navbar-nav">
        
        <li class="nav-item ">
          <a class="btn btn-dark btn-outline-light">SIGN IN</a>
        </li>
        <li class="nav-item ">
          <a class="ms-1 btn btn-secondary">JOIN</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/pexels-tembela-bohle-1884574.jpg" class="d-block w-100" alt="slide 1" style="max-height: 850px;">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/pexels-el-gringo-photo-13141009.jpg" class="d-block w-100" alt="slide 2" style="max-height: 850px;">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/pexels-tom-fisk-3448250.jpg" class="d-block w-100" alt="slide 3" style="max-height: 700px;">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/pexels-unknown-user-1657328.jpg" class="d-block w-100" alt="slide 4" style="max-height: 700px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>